:root
{
    --page-height: 1850px;
    
    --grid-column-gap: 110px;
    --grid-row-gap: 5px;
}

#educationTab
{
    background-color: #000000;
    color: #e69100;
}

/* Other ids */

#otherGrades
{
    top: 370px;
    left: 10%;
}

#otherGrades .wrapper
{
    grid-template-columns: repeat(3, 150px);
}

#otherText
{
    top: 140px;
    left: 10%;
    width: 35%;
}

/* A level ids */

#aLevelGrades
{
    top: 370px;
    left: 60%;
}

#aLevelText
{
    top: 140px;
    left: 60%;
    width: 35%;
}

#aLevelImg
{
    left: 75%;
    top: 700px;

    width: 20%;
    height: 400px;
}

/* GCSE ids */

#gcseGrades
{
    top: 700px;
    left: 40%;
}

#gcseText
{
    top: 940px;
    left: 5%;
    width: 30%;
}

#gcseImg
{
    left: 5%;
    top: 720px;

    width: 30%;
    height: 200px;
}

/* Warwick ids */

#warwickText
{
    top: 1200px;
    left: 52.5%;
    width: 42.5%;
}

#warwickImg
{
    left: 52.5%;
    top: 1600px;

    width: 42.5%;
    height: 200px;
}

/* myEducation ids */

#myEducationText
{
    top: 1200px;
    left: 5%;
    width: 42.5%;
}

#myEducationImg
{
    left: 5%;
    top: 1600px;

    width: 42.5%;
    height: 200px;
}