.page .jumpBar
{
    position: fixed;
    width: 100%;

    z-index: 9000;
}

.page .jumpBar ul
{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.page .jumpBar ul li
{
    display: inline-block;
}

.page .jumpBar ul li a
{
    color: #d0d0d0;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--default-font);
}

.page .jumpBar ul li a:hover
{
    color: #e69100;
}

.jumpLink
{
    position: absolute;
}