:root
{
    --page-height: 2000px;

    --logo-indent: 20px;
    --logo-size: 30px;
    --logo-top-offset: calc((64px - var(--logo-size)) / 2);

    --logo-text-indent: calc(var(--logo-size) + var(--logo-indent) + 0px);
    --logo-text-size: 32px;
    --logo-text-top-offset: calc((60px - var(--logo-text-size)) / 2);

    --default-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Navagation bar */
.navBar ul
{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
    background: linear-gradient(to right, #222222 70%, #000000 85%);

    z-index: 9999;
}

.navBar ul li
{
    float: left
}

.navBar ul li a
{
    display: block;
    color: #d0d0d0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--default-font);
}

.navBar ul li a:hover
{
    background: radial-gradient(circle at center, #e69100, #222222 50%);
    color: #ffffff;
}

#navBarCurrent:hover
{
    color: #ffffff;
}

#navBarCurrent
{
    background-color: #000000;
    color: #e69100;
}

#navLogoImage
{
    position: absolute;
    right: 10px;
    top: var(--logo-top-offset);

    max-height: var(--logo-size);
    width: auto;
    height: auto;
}

#navLogoText
{
    position: absolute;

    right: var(--logo-text-indent);
    top: var(--logo-text-top-offset);
    text-align: right;
    font-size: var(--logo-text-size);
    color: #e69100;
    font-family: var(--default-font);
}

/* page */

.page
{
    text-align: center;
    color: white;
    height: var(--page-height);
}
  
.page .centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page .top
{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Backgrounds */

.bgImage
{
    margin: 64px 0px 0px 0px;
    background-image: url("../images/blackBackground4.jpg");
    height: var(--page-height);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    
}

/* Grades */

.page .grades
{
	position: absolute;
	
	top: 200px;
	left: 100px;
    font-size: 24px;
}

.page .grades .title
{
    position: relative;
}

.page .grades .headings
{
	position: relative;
}


.page .grades .headings ul
{
    width: auto;
    list-style-type: none;
    overflow: hidden;
	margin: 0px 0px 0px 0px;
}

.page .grades .headings ul li
{
    float: left;
	
	display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--default-font);
	font-style: italic;
	
	
	padding: 10px 10px;
}

.page .grades .row
{
	position: relative;
}

.page .grades .row ul
{
    width: auto;
    list-style-type: none;
    overflow: hidden;
	margin: 0px 0px 0px 0px;
}

.page .grades .row ul li
{
    float: left;
	
	display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--default-font);
	
	padding: 10px 10px;
}

.page .grades .wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 0px;
  margin-left: 0px;
  padding-left: 0px;
}
