.page .table
{
	position: absolute;
    
    top: 100px;
	left: 100px;
	
    font-size: 24px;
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.page .table .title
{
    position: relative;
    margin: inherit;
    padding: inherit;

    font-style: normal;
    font-size: 20pt;
    font-family: var(--default-font);
}

.page .table .heading
{
	position: relative;
    margin: inherit;
    padding: inherit;

    font-style: italic;
    font-size: 14pt;
    font-family: var(--default-font);
}

.page .table .row
{
    position: relative;
    margin: inherit;
    padding: inherit;
    width: 300%;

    font-style: normal;
    font-size: 16pt;
    font-family: var(--default-font);
}

.page .table .wrapper
{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(0, 50px);
  grid-row-gap: var(--grid-row-gap);
  grid-column-gap: var(--grid-column-gap);
  margin-left: 0px;
  padding: 0px 0px 0px 0px;
}