:root
{
    --page-height: 2900px;

    /* image width and height */
    --slider-width: 800px;
    --slider-height: 600px;

    --grid-column-gap: 150px;
    --grid-row-gap: 10px;
}

#volunteeringAndScoutingTab
{
    background-color: #000000;
    color: #e69100;
}

/* DSP ids */

#dspText
{
    top: 1000px;
    right: 5%;
    width: 30%;
}

#dspLogo
{
    right: 10%;
    top: 600px;

    width: 9%;
    height: auto;
}

#dspImgSlider
{
    left: 5%;
    top: 1000px;

    /* width and height of the slider container, img size may be different */
    width: 800px/*calc(min(var(--slider-width), 55%))*/;
    height: var(--slider-height);
}


/* Scout ids */

#scoutImg
{
    left: 0%;
    top: 56px;

    width: 100%;
    height: 150px;
}

#scoutLogo1
{
    left: 25%;
    top: 300px;

    width: 50%;
    height: auto;
}

#scoutText
{
    left: 15%;
    top: 1700px;
    width: 70%
}


/* Other */

#unionLogo
{
    left: 10%;
    top: 650px;

    width: 12%;
    height: auto;
}

#boatingQuals
{
    top: 2150px;
    left: 25%;
    width: 50%;
}

#qualsLink
{
    top: calc(var(--page-height) - 60px);
}

#qualsDownloadLink
{
    top: calc(var(--page-height) - 30px);
}